
.nav ul{
    display: flex;
    /* min-width: 100%; */
    list-style: none;
    justify-content: center;
    padding: 0;
}
.nav ul li{
    padding: 0 2rem 0 2rem;
}

.v{
    color: #c4c4c4;
}

/* .nroCarrito{

} */
